<ion-view view-title="Mascotas">
  <ion-content>
    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
    <div class="list">

      <a class="item item-avatar" href="#/app/pet-card">
        <img src="img/images.jpg">
        <h2>Beto</h2>
        <p>Me encontraron.</p>
      </a>

      <a class="item item-avatar" href="#/app/pet-card">
        <img src="img/images.jpg">
        <h2>Bono</h2>
        <p>Me perdí.</p>
      </a>
      <a class="item item-avatar" href="#/app/pet-card">
        <img src="img/images.jpg">
        <h2>Charlie</h2>
        <p>Me encontraron.</p>
      </a>
      <a class="item item-avatar" href="#/app/pet-card">
        <img src="img/images.jpg">
        <h2>Deus</h2>
        <p>Me encontraron.</p>
      </a>
      <a class="item item-avatar" href="#/app/pet-card">
        <img src="img/images.jpg">
        <h2>Floquet</h2>
        <p>Me perdí.</p>
      </a><a class="item item-avatar" href="#/app/pet-card">
      <img src="img/images.jpg">
      <h2>July</h2>
      <p>Me perdí.</p>
    </a>

    </div>
  </ion-content>
</ion-view>
