<ion-view view-title="Registrar Mascota">
  <ion-content>
    <div class="item item-divider">
      Comentario
    </div>
    <label class="item item-input item-floating-label">
      <span class="input-label labels-input">Comentario</span>
      <input type="text" placeholder="Cometario">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label labels-input">Numero Contacto</span>
      <input type="text" placeholder="Numero Contacto">
    </label>
    <div class="item item-divider">
      Enviar Localizacion
    </div>
    <div id="map2" data-tap-disabled="true"></div>
    <button class="btn-floating btn-large waves-effect waves-light button-positive" ng-click="scanBarcode()">
      <i class="icon ion-camera"></i>
    </button>
  </ion-content>

</ion-view>
