<ion-view view-title="Registro de Usuarios">
  <ion-content>

    <div class="list">
      <div class="item item-divider">
        Datos de Usuarios
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label labels-input">Usuario</span>
        <input type="text" placeholder="Usuario">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label labels-input">Password</span>
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label labels-input">Repita Password</span>
        <input type="password" placeholder="Repita Password">
      </label>
      <div class="item item-divider">
        Datos Personales
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label labels-input">Nombres</span>
        <input type="text" placeholder="Nombres">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label labels-input">Apellidos</span>
        <input type="text" placeholder="Apellidos">
      </label>
      <div class="item item-divider">
        Datos de Contacto
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label labels-input">Teléfono Contacto</span>
        <input type="tel" placeholder="Teléfono Contacto">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label labels-input">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <div class="item item-divider">
        Ubicación
      </div>
      <div id="map" data-tap-disabled="true"></div>
    </div>
    <button class="waves-effect waves-light btn button button-full button-positive ">
      Registrar Usuario
    </button>
    <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"></i></a>-->
  </ion-content>
</ion-view>
