<ion-view view-title="Registro de Usuarios">
  <ion-content>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Usuario</span>
        <input type="text" placeholder="Usuario">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nombres</span>
        <input type="text" placeholder="Nombres">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Apellidos</span>
        <input type="text" placeholder="Apellidos">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Ciudad</span>
        <input type="text" placeholder="Ciudad">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Dirección</span>
        <input type="text" placeholder="Dirección">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Teléfono Contacto</span>
        <input type="tel" placeholder="Teléfono Contacto">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Repita Password</span>
        <input type="password" placeholder="Repita Password">
      </label>
      <div id="map" data-tap-disabled="true"></div>
    </div>
    <button class="button button-full button-positive">
      Registrar Usuario
    </button>
  </ion-content>
</ion-view>
